################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AttendanceTermianal/AttendanceSystem/AttendanceSystem/.vs/AttendanceSystem/v15
